body {
  zoom: 90%;
  font-family:Arial, Helvetica, sans-serif;
  transition: all 1s ease;
}

#labelToggle {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 2em;
}

#toggle {
  display: none;
}

.dark {
  background-color: #101011;
  color: hwb(0 90% 8%);
  transition: all 1s ease;
}

.dark input {
  background-color: #010101;
  color:hwb(0 90% 8%); ;
}

.dark .input-group-text .form-check-input[type="radio"] {
  background-color: grey;
}

.dark .form-check-input[type="radio"] {
  background-color: rgb(116, 114, 126);
}

.dark .form-check-input[type="radio"]:checked {
  background-color: rgb(9, 44, 198);
}

.dark .input-group .form-control {
  background-color: #010101;
  color:hwb(0 90% 8%); ;
}

.dark .input-group-text {
  background-color: rgb(142, 139, 139);
  color:hwb(0 90% 8%); ;
}

.dark .table-bordered {
  background-color: #010101;
  color:hwb(0 90% 8%); ;
}

.dark .table input[type="text"],
.table input[type="number"] {
  border-color: white;
}

 
.nav-item {
  margin-left: 15px;
}

.navbar {
  font-size: 120%;
  display: flex;
  position: fixed;
}

.razon {
  width: 10ch;
}

h1 {
  text-align: end;
}

.texto-adicional {
  display: none;
}

.texto-adicional2 {
  display: none;
}

.texto-adicional3 {
  display: none;
}

.texto-adicional4 {
  display: none;
}

.texto-adicional5 {
  display: none;
}

.texto-adicional6 {
  display: none;
}

.texto-adicional7 {
  display: none;
}

.texto-adicional8 {
  display: none;
}

.texto-adicional9 {
  display: none;
}

p {
  font-size: 115%;
  text-align: justify;
}

.row {
  font-size: large;
}

textarea {
  background-color: #dddddd;
  color: #3e3232;
  padding: 0.75em;
  /* Reducido el padding */
  border-radius: 5px;
  /* Reducido el border-radius */
  border: 1px solid #ccc;
  /* Reducido el grosor del borde */
  outline: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  transition: all 0.2s;
}

textarea:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

textarea:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}

th {
  border: solid;
}

td {
  border: solid;
}

tr {
  border: solid;
}

.pais-tax1,
.pais-tax2 {
  display: inline-block;
  vertical-align: top;
}

.input-group-text .form-check-input[type="radio"] {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.form-check-input[type="radio"] {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}