.razon {
  width: 10ch;
}

.texto-adicional {
  display: none;
}

.texto-adicional2 {
  display: none;
}

.texto-adicional3 {
  display: none;
}

.texto-adicional4 {
  display: none;
}

.texto-adicional5 {
  display: none;
}

p {
  font-size: 115%;
}

.row {
  font-size: large;
}