.razon {
  width: 10ch;
}

.texto-adicional {
  display: none;
}

.texto-adicional2 {
  display: none;
}

.texto-adicional3 {
  display: none;
}

.texto-adicional4 {
  display: none;
}

.texto-adicional5 {
  display: none;
}

.texto-adicional6 {
  display: none;
}

p {
  font-size: 115%;
}

.row {
  font-size: large;
}

textarea {
  background-color: #dddddd;
  color: #3e3232;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid;
  outline: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  transition: all 0.2s;
}

textarea:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

textarea:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}

th {
  border: solid;
}

td {
  border: solid;
}

tr {
  border: solid;
}

.navbar {
  font-size:250%;
}

/*
#auto{
	padding: 10px;
	background: orange;
	width: 95px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 1px #000;
	display: inline-block;
}

#auto:hover{
	opacity: .8;
}

#respuestaExtranjSi{
	width: 100%;
	margin: auto;
	height: 0px;
	background: #000;
	box-shadow: 10px 10px 3px #D8D8D8;
	transition: height .4s;
  color:white;
  text-align: center;
}
#auto:hover{
	opacity: .8;
}
#auto:hover + #respuestaExtranjSi{
	height: 100px;
}

*/